/* font */
.fontsize-loop(@n, @i: 12) when (@i <=@n) {
  .fontsize-@{i} {
      font-size: unit(@i, px);
  }

  .fontsize-loop(@n, (@i + 2));
}

.fontsize-loop(40);

.bold{
    font-weight: bold;
}

.color-3 {
    color: var(--color-3);
}

.color-9 {
    color: var(--color-9);
}

.color-6 {
    color: var(--color-6);
}

.color-9 {
    color: var(--color-9);
}

/* box */
.gap-loop(@n, @i: 8) when (@i <=@n) {
  .mt@{i} {
      margin-top: unit(@i, px);
  }

  .mr@{i} {
      margin-right: unit(@i, px);
  }

  .mb@{i} {
      margin-bottom: unit(@i, px);
  }

  .ml@{i} {
      margin-left: unit(@i, px);
  }

  .pt@{i} {
      padding-top: unit(@i, px);
  }

  .pr@{i} {
      padding-right: unit(@i, px);
  }

  .pb@{i} {
      padding-bottom: unit(@i, px);
  }

  .pl@{i} {
      padding-left: unit(@i, px);
  }

  .gap-loop(@n, (@i + 8));
}

.gap-loop(48);

/*常用margin*/
.margin-loop(@n, @i: 5) when (@i <=@n) {
  .mt@{i} {
      margin-top: unit(@i, px);
  }

  .mr@{i} {
      margin-right: unit(@i, px);
  }

  .mb@{i} {
      margin-bottom: unit(@i, px);
  }

  .ml@{i} {
      margin-left: unit(@i, px);
  }

  .margin-loop(@n, (@i + 5));
}

.margin-loop(100);

/*常用padding*/
.padding-loop(@n, @i: 5) when (@i <=@n) {
  .pt@{i} {
      padding-top: unit(@i, px);
  }

  .pr@{i} {
      padding-right: unit(@i, px);
  }

  .pb@{i} {
      padding-bottom: unit(@i, px);
  }

  .pl@{i} {
      padding-left: unit(@i, px);
  }

  .pa@{i} {
      padding: unit(@i, px);
  }

  .padding-loop(@n, (@i + 5));
}

.padding-loop(140);

/* flex */
.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-1{
    flex: 1;
}

.flex-2{
    flex: 2;
}

.align-items-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-space-between{
    justify-content: space-between;
}