.btn{
  background-color: gray;
  padding: 10px 30px;
  border: 0px;
  border-radius: 4px;
  color: #fff;
  transition: all .3s;
  font-size: var(--font-size);
}

.primary-btn {
  &:hover{
    background-color: aquamarine;
  }
}