.rm-btn{
  min-width: 80px;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: #fff;
  font-size: var(--font-size);
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all var(--duration);
  &:hover{
    background-color: var(--color-bg-hover);
    border-color: var(--color-primary);
    color: var(--color-primary);
  }
}

/* size */
.rm-btn.small {
  min-width: 48px;
  padding: 5px;
}
.rm-btn.bigger{
  min-width: 108px;
}

/* type */
.primary-btn {
  border: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  &:hover{
    background-color: var(--color-primary-hover);
    color: var(--color-text);
  }
}

.link-btn {
  border: none;
  padding: 0;
  background: none;
  color: var(--color-primary);
  font-size: calc(var(--font-size) * 1.5);
  &:hover{
    background: none;
    color: var(--color-primary-hover);
  }
}


/* disabled */
.btn-disabled {
  cursor:not-allowed;
  &::after {
    opacity: .6;
    content: ' ';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: 1;
    border-radius: var(--border-radius);
    background-color: #fff;
  }
}